[2013-10-09 13:38] yegor256 opened #1 "File ./ib_logfile101: 'aio write' returned OS error 122"
On Ubuntu 12.04 Desktop I see:

[code]

See also http://stackoverflow.com/questions/19265916/file-ib-logfile101-aio-write-returned-os-error-122

[2013-10-10 08:29] yegor256 opened #2 "create my-default.cnf instead of copying"
Let's create `my-default.cnf` file instead of copying it from ZIP archive

[2013-10-10 10:25] #2 closed, assigned to nobody

[2013-10-11 06:09] yegor256 opened #3 "mysql artifacts to sonatype repo (or Maven Central)"
let's move mysql artifacts to sonatype repository (or even to Maven Central)

[2013-10-11 15:50] #3 closed, assigned to nobody

[2013-10-13 14:27] #1 closed, assigned to nobody

[2013-10-15 07:11] yegor256 opened #4 "port is not set from Maven configuration"
Port is not set through Maven config

[2013-12-11 20:34] v-dev opened #5 "perl required?"
Hi,

I'm trying to configure/run jcabi-mysql-maven-plugin for the first time by pretty much copying/pasting instructions here:
http://www.jcabi.com/jcabi-mysql-maven-plugin/usage.html

I am getting the following error when I run mvn clean pre-integration-test:

[ERROR] #start(55717, C:\dev\intellij\gen\<my-project>\target\mysql-dist, C:\dev\intellij\gen\<my-project>\target\mysql-data): thrown java

[2013-12-12 16:01] #5 closed, assigned to nobody

[2013-12-13 23:32] v-dev opened #6 ""run" goal for foreground MySQL server running"
Hello,

If I just do a 'mvn pre-integration-test' command, is there a way/setting I can have the MySQL server keep running (for manual tests, let's say)?  It seems it still tries to issue a 'stop' even though I didn't reach the post-integration-test phase.

[2013-12-15 19:31] #4 closed, assigned to nobody

[2013-12-16 16:20] v-dev opened #7 "jcabi-mysql:start only uses default 3306 port"
GIVEN a non-default port (such as 43444) configured in the pom
   AND first running `mvn clean verify`
WHEN I run `jcabi-mysql:start`
THEN MySql should start on the configured port (43444 in this case)

Instead, it tries to start on the default 3306 port.

pom configuration:

[code]

maven output:

[code]

This is on Windows 7 Ultimate, SP1 laptop.

[2013-12-16 17:45] #7 closed, assigned to nobody

[2013-12-16 18:49] #6 closed, assigned to nobody

[2013-12-17 07:36] v-dev opened #8 "custom configure credentials + dbname"
Hello,

Another request / question, please.  Is there a way to configure custom username, password, and dbname?  For example, something like this?:

[code]

[2013-12-18 03:45] huangp opened #9 "Multiple mysqld running causes issues"
Hi,

I am using your plugin for integration test. If there is no mysql running, everything works fine. But if there is, which is the case in all of our dev machines and also on jenkins build server, then the plugin starts up ok. But there is no way to connect to the plugin created server.

[code]

Here is subsequent sql-maven-plugin error:

[code]

If I run the new "run" goal instead of "start", a

[2013-12-19 00:34] #9 closed, assigned to nobody

[2013-12-28 12:47] Sergeant007 opened #10 "The socket file is too long error"
Running with "data" directory inside "target" and path to "target" is quite long (my project is large). Get following error at mysqld startup:

_[ERROR] The socket file path is too long (> 107): /home/very/long/path/target/mysql-data/mysql.sock_

Most probably this is not a bug, but a known issue with mysql(( May be it worth to add to the plugin option which will keep data in temporary directory i

[2014-01-05 13:00] #10 closed, assigned to nobody

[2014-01-10 15:03] twillouer opened #11 "My custom mysqlserver interfering"
Hi,

I'm launching jcabi-mysql:start and got this warning:

[code]

and after I got a:

[code]

(yes, I use mariadb on my own machine)

[2014-01-13 16:17] piantino opened #12 "How set lower_case_table_names system variable"
Hello,

I am trying fix the table names in lower case, in Ubuntu:

[code]

But not work...

It is possible set any this variable or set in "my.cnf" file?
https://github.com/jcabi/jcabi-mysql-maven-plugin/blob/0328e2381fd61ae2dc53e150259d9cb76311989b/src/main/java/com/jcabi/mysql/maven/plugin/Instances.java#L210

[2014-01-20 18:55] #12 closed, assigned to nobody

[2014-01-22 07:03] yegor256 opened #15 "java.io.IOException: socket /tmp/1390340700374-2/mysql.sock is not available after 1min of waiting"
http://relics.rultor.com.s3.amazonaws.com/urn:facebook:1531296526/jcabi-mysql-maven-plugin-on-commit/stdout/2014-01-21T21:35:00Z/log.txt

Build is broken. Sometimes this failure happens. Not always, but sometimes. I suspect that we should increase waiting time to two minutes? Not sure...

[2014-01-23 18:16] #8 closed, assigned to nobody

[2014-01-23 18:28] v-dev opened #16 ""unable to change password" error when specifying custom credentials"
GIVEN custom dbname, user, and password
WHEN I do a `mvn clean verify` command
THEN a local MySQL server should start with the given custom dbname and credentials.

Instead, a `mysqladmin.exe: unable to change password; error: 'Can't find any matching row in the user table'` error is displayed, and the maven build fails.

Full mvn build log below:

[code]

[2014-01-28 22:49] #16 closed, assigned to nobody

[2014-03-07 23:17] ddumont opened #19 "goal for launching mysql, wait for stop (so that tests can be debugged live)"
Jasmine maven plugin has this option for BDD testing where it will stay active hosting a web server to inspect the tests as they run.  Something like this would be very useful here.

[2014-03-08 01:09] #19 closed, assigned to nobody

[2014-03-09 15:13] yegor256 opened #22 "use com.jcabi:jcabi 1.4"
Let's use `com.jcabi:jcabi:1.4` as a parent `pom` project. Now we're using `com.jcabi:parent`

[2014-03-10 06:24] #11 closed, assigned to nobody

[2014-03-12 22:00] #22 closed, assigned to nobody

[2014-03-14 10:22] Sergeant007 opened #24 ""mvn jcabi-mysql:start" uses default options (port, data)"
When I'm trying to start mysql in standalone mode with "mvn jcabi-mysql:start", my port and data files location options seems to be ignored. and it uses default 3306 and "target/msql-data" directories.

Might be I'm doing something wrong?

[2014-03-14 12:54] #24 closed, assigned to nobody

[2014-04-16 08:02] gfrison opened #25 "Failed to execute goal com.jcabi:jcabi-mysql-maven-plugin:0.6.1:start (mysql-test) Execution mysql-test of goal com.jcabi:jcabi-mysql-maven-plugin:0.6.1:start failed: Non-zero exit code 1: , system error: 104'"
Hello,

I'm running integration test with mysql but TeamCity fails to build because the plugin return a non-zero code.
How I can deal with it?
Thank you

[2014-06-10 10:33] dr0i opened #26 "Integration Test does not start"
Hi there,
I think my issue here resides in an inproper maven config or Java class. It leads to:
[edit 06-10]:

[code]

[/edit 06-10]:

when test should run.

[2014-06-10 12:01] dr0i opened #27 "Installing MySQL system tables...sh: 1: ./bin/mysqld: not found"
I got error `Installing MySQL system tables...sh: 1: ./bin/mysqld: not found` after using 5.6.14 classified  linux-amd64. I am on:

$ uname -r
3.10-2-amd64

[2014-06-10 12:24] #27 closed, assigned to nobody

[2014-06-10 14:08] #26 closed, assigned to nobody

[2014-06-26 07:55] diorcety opened #28 "Instances"
Nice project.
But there is a small lack.
You should make Instances public or put it in another project in the way we can use it outside maven lifecycle. For example in ITs.

[2014-06-30 07:45] #28 closed, assigned to nobody

[2014-07-10 07:25] yegor256 opened #30 "Stream closed exception in logs"
When plugin shuts down, this is what I see in logs:

[code]

Doesn't affect anything, but is rather annoying. Would be great to fix.

[2014-07-14 13:18] ChristianRedl opened #31 "Reusing existing database"
To speed up testing it would be nice to be able to reuse a database. In our particular case it is running a couple of sql scripts to fill the database afterwards, and it would speed up the work of developers if that step wasn't necessary every time.

I forked the code and modified it to do just that. This is currently only being used if the optional option "clearexistingdata" is set to "false" (de

[2014-07-17 17:44] yegor256 opened #33 "build as root"
Let's configure rultor correctly, so that it can build as `root`

[2014-07-17 19:22] #33 closed, assigned to nobody

[2014-07-23 11:54] #31 closed, assigned to nobody

[2014-08-14 08:59] yegor256 opened #36 "skin 1.4"

[2014-08-14 09:44] #36 closed, assigned to nobody

[2014-08-15 09:28] staleks opened #37 "fail on execution of mysql-test"
Here is the log when I run $ mvn verify

[INFO] $ /home/foo/work/client/projectname/workspace/projectname/tests/databases/run-mysql/target/mysql-instance/bin/mysqld --no-defaults --general_log --console --innodb_buffer_pool_size=64M --innodb_log_file_size=64M --log_warnings --innodb_use_native_aio=0 --binlog-ignore-db=root --basedir=/home/foo/work/client/projectname/workspace/projectname/tests/dat

[2014-08-15 11:26] #37 closed, assigned to nobody

[2014-09-09 18:07] gdogaru opened #38 "absence of perl should fail the build"
Mysql fails to start with the last version.
1. as is it does not create the data folder in mysql-data (data folder in configuration)
2. If I manually create the folder I get: Fatal error: Can't open and lock privilege tables: Table 'mysql.user' doesn't exist

[2014-09-16 10:39] gdogaru opened #39 "Mysql failing to start, can not find my-default.cnf"
Below is the error log. I use version 0.8.1, windows 8, mysql.classifier=windows-amd64
 my-default.cnf is present at the given location, but the error log says it can not find it

[code]

[2014-09-18 15:28] mfulton26 opened #40 "No Java API support"
I would like to start/stop MySQL instances from my Java test code. Is this supported? If not, can such support be added? Thank you.

[2014-09-18 15:34] #40 closed, assigned to nobody

[2014-09-19 17:13] mfulton26 opened #41 "remove perl dependency"
I really like what this does and I've gotten it working locally etc. but the perl dependency has me worried. Most of my coworkers have Windows boxes which means they will need to install perl in order to run an integration test suite dependent on this plugin. I noticed that MySQL used to publish a Connector/MXJ but it is no longer supported (see http://dev.mysql.com/doc/connector-mxj/en/connector-

[2014-10-09 19:32] longtimeago opened #43 "Release new version of mysql-dist"
We need to release new version of mysql-dist with mysql 5.6.21 of higher.
Issue https://github.com/jcabi/jcabi-mysql-maven-plugin/issues/39 should be fixed in that version.

[2014-10-22 19:49] peterjanes opened #44 "mysql-dist classifier is wrong for 32-bit Linux"
`os.arch` is `i386` in Java on 32-bit Linux platforms, so `jcabi-mysql-maven-plugin:classify` sets `${mysql.classifier}` to `i386`. `com.jcabi:mysql-dist` versions are deployed with a classifier of `linux-x86`, which means that artifact downloads using the variable fail.

(The workaround of setting `mysql.classifier` directly in a Linux/i386-specific profile causes `jcabi-mysql-maven-plugin:classi

[2014-10-23 08:55] yegor256 opened #45 "Cannot run program ".../mysqld""
The build is broken for a very strange reason, see http://www.rultor.com/t/934-60200725 (for example).

[code]

Let's investigate and fix

[2014-10-24 08:15] #43 closed, assigned to nobody

[2014-10-25 07:11] longtimeago opened #47 "mysql-dist 5.6.21 distributive is wrong"
I download the mysql-dist 5.6.21 and get the issue with libaio.
The problem is that content of mysql-dist-5.6.21-linux-amd64 is wrong.
Here is the ldd output for `mysql-dist-5.6.21-linux-amd64`

[code]

and for `mysql-dist-5.6.21-linux-x86`

[code]

But the should be quite opposite:
- for amd64 shared libs are located in `/lib/x86_64-linux-gnu`
- for x86 shared libs are located in `/lib/i386-linux

[2014-10-31 12:46] adamsiemion opened #48 "jcabi-mysql-maven-plugin build hangs on Win7 Pro"
`mvn install` of the latests sources hangs at line:

[code]

I am running the build on Windows 7 Pro using maven 3.2.3 and java 1.8.0_20.

[2014-11-06 13:40] yegor256 opened #49 "JSR-303 error message in logs"
see https://github.com/jcabi/jcabi-aspects/issues/102

[2014-12-02 15:41] sbelov opened #50 "Socket file path is too long"
If the maven module is built in a deep enough directory location, and `<data/>` configuration setting points to somewhere inside `${project.build.directory}` (which is the default), MySQL will not start due to failure to open a Unix socket (see below).

A workaround is to point `<data/>` to a fixed location with a shorter path (say, under /tmp). But I'd still like to be able to have my data under

[2014-12-03 07:28] seanf opened #52 "Build fails with "socket file path is too long" when run from deep directory"
Building on Fedora 20, I get a number of error messages like this (with long periods with no output which make me think the build is tuck):

    [info] >> /home/sflaniga/NotBackedUp/src/jcabi-mysql-maven-plugin/target/mysql-dist/bin/mysqld: error while loading shared libraries: libaio.so.1: cannot open shared object file: No such file or directory
    [error] #start('Config(tcpport=34756, dbuser=r

[2014-12-23 19:52] #30 closed, assigned to longtimeago

[2014-12-28 07:32] #25 closed, assigned to nobody

[2015-01-02 18:01] longtimeago commented on #30
@yegor256 ping :)

[2015-01-02 18:06] yegor256 commented on #30
@longtimeago let me check...

[2015-01-08 16:36] maurezen opened #54 "Copyright section is outdated"
Copyright sections still feature 2014 as a year.

[2015-01-10 00:31] mfulton26 commented on #45
Any update on this? I can't use this plugin unless there is a previous version that works.

[ERROR] JSR-303 validator failed to initialize: Unable to instantiate Configuration. (see http://www.jcabi.com/jcabi-aspects/jsr-303.html)
...
[INFO] >> FATAL ERROR: Could not find /Users/mfulton/git/idx/metric/acceptance/target/mysql-dist/bin/my_print_defaults

[2015-01-10 07:31] yegor256 commented on #45
@mfulton26 for now you can use mysql-dist version [5.6.14](http://repo1.maven.org/maven2/com/jcabi/mysql-dist/5.6.14/), it works without problems (with the latest version of the plugin)

[2015-01-12 16:16] mfulton26 commented on #45
@yegor256 I see the same with version 5.6.14 with mysql.classifier mac-x86_64.

[2015-01-12 17:51] yegor256 commented on #45
hm.. works fine for me with 5.6.14 on Mac. Can you show your pom.xml and your Maven/Java versions?

[2015-01-12 19:17] mfulton26 commented on #45
@yegor256 As requested see below.

# pom.xml
[code]

# Maven
[code]

# Java
[code]

[2015-01-12 19:28] yegor256 commented on #45
@mfulton26 can you please post a full error log you're getting? well, the tail of it, to understand the root cause of the issue

[2015-01-12 19:54] mfulton26 commented on #45
[code]

[2015-01-16 20:34] peterjanes commented on #44
Looks good to me.

[2015-01-16 20:34] #44 closed

[2015-01-17 15:14] longtimeago commented on #30
@yegor256 ping :)

[2015-01-20 20:23] longtimeago commented on #30
@yegor256 Any news here?

[2015-01-21 22:57] maurezen opened #55 "Qulice configuration - no license specified."
1. Checkout master branch
2. run `mvn qulice:check -Pqulice`
3. There are multiple `Line does not match expected header line of ' * BSD License'. (HeaderCheck)` messages.

This is a known bug of qulice configuration in parent-0.31 (jcabi/jcabi-parent#19), accessed via jcabi-0.16. Suggested action is waiting until jcabi/jcabi#297 fix is released and upgrading jcabi version.

[2015-01-22 07:37] dmarkov commented on #41
I'm aware of the task, give me some time to find a developer...

[2015-01-22 07:37] dmarkov commented on #49
I'll ask someone to take care of this task soon

[2015-01-22 07:37] dmarkov commented on #47
@yegor256 yep, it's yours, go ahead

[2015-01-22 07:42] dmarkov commented on #39
@longtimeago this task is not yours any more (took too long), please stop

added -60 to your rating, now it is equal to [+1237](http://www.netbout.com/b/35024?open=rating)

[2015-01-22 07:42] dmarkov commented on #49
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-0aba8c4a`

[2015-01-22 11:01] longtimeago commented on #30
@yegor256 need your attention here. Closed month ago but still in the list of tasks on netbout

[2015-01-22 11:15] yegor256 commented on #30
@longtimeago it'll be closed/paid tomorrow the latest. there were some issues, resolved them already

[2015-01-22 11:15] longtimeago commented on #30
@yegor256 great, thanks!

[2015-01-23 10:02] dmarkov commented on #30
@longtimeago **30 mins** added to your account (payment number `50616319`), many thanks for your contribution!... +30 added to your rating, at the moment it is: [+1367](http://www.netbout.com/b/35024?open=rating)

[2015-01-26 15:49] wabson opened #56 "Fatal error "table 'mysql.host' doesn't exist" when running on Windows 7"
I have version 0.9.0 of the plugin working under Linux and OS X, but under Windows 7 it appears that `mysql_install_db.pl` does not properly create the required system tables for the MySQL server to be able to start.

[code]

This was first reported by another of our developers and I have since reproduced the problem myself on a pretty vanilla Windows7 VM that I use for testing, on which I install

[2015-01-26 15:51] yegor256 commented on #56
@wabson thanks for reporting, we'll investigate

[2015-01-26 16:03] wabson opened #57 "mysqld.exe and other binaries not compatible with Windows 7 x86"
Running version 0.9.0 of the plugin, using MySQL 5.6.21, on a Windows 7 x86 machine yields warnings and then an error that the `mysqld.exe` file is not compatible with this version of Windows.

[code]

[2015-01-26 16:07] yegor256 commented on #57
@wabson thanks, we'll investigate!

[2015-01-27 07:24] dmarkov commented on #56
I'll ask someone to take care of this task soon

[2015-01-27 07:24] dmarkov commented on #57
we'll find someone to do this task, soon

[2015-01-27 12:28] dmarkov opened #58 "InstancesTest.java:186-189: Create integration tests for Config...."
Puzzle `8-aea18ffe` in `src/test/java/com/jcabi/mysql/maven/plugin/InstancesTest.java:186-189` has to be resolved: Create integration tests for Config. Integration tests 'WithConfigITCase' should be created to test that user name, password and dbname are set properly. This issue should be done after non root user name is set properly

If you have any technical questions, don't ask me, submit new t

[2015-01-27 12:30] dmarkov commented on #58
@apocarteres please proceed, it's yours

[2015-01-28 08:51] dmarkov commented on #57
@maurezen the task is yours, go ahead

[2015-01-28 08:56] apocarteres opened #59 "Build failed with message "Failed to execute goal org.apache.maven.plugins:maven-enforcer-plugin:1.3.1:enforce (enforce-maven-same-versions) on project jcabi-mysql-maven-plugin: Some Enforcer rules have failed. Look above for specific messages explaining why the rule failed.""
<pre>
[INFO]
[INFO] --- maven-enforcer-plugin:1.3.1:enforce (enforce-maven-same-versions) @ jcabi-mysql-maven-plugin ---
[WARNING] Rule 0: org.apache.maven.plugins.enforcer.RequireMavenVersion failed with message:
Detected Maven Version: 3.1.1 is not in the allowed range 3.2.1.
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] -------------

[2015-01-28 09:02] apocarteres commented on #58
@dmarkov it's blocked by https://github.com/jcabi/jcabi-mysql-maven-plugin/issues/59

[2015-01-28 13:44] apocarteres opened #60 "broken link in README.md"
link mentioned in README.md
<pre>
http://www.yegor256.com/2014/05/21/mysql-maven-plugin.html
</pre>
doesn't work

[2015-01-28 14:13] apocarteres commented on #59
it's relates to https://github.com/jcabi/jcabi-mysql-maven-plugin/issues/60

[2015-01-28 15:04] apocarteres commented on #59
not actual. it's maven version problem

[2015-01-28 15:04] #59 closed

[2015-01-28 20:14] yegor256 commented on #60
opens for me: http://www.yegor256.com/2014/05/21/mysql-maven-plugin.html

[2015-01-28 20:21] apocarteres commented on #60
yes, it works now for me too

[2015-01-28 20:21] #60 closed

[2015-01-30 01:59] seanf commented on #50
FWIW, I did see the temp table problem (https://github.com/jcabi/jcabi-mysql-maven-plugin/issues/50#issuecomment-65553927) again, but not since I started using the new `<socket>` parameter.  Moving the data out of `/tmp` seems to have helped.

[2015-01-30 02:04] seanf commented on #52
@yegor256 Yes, moving the socket under `/tmp` using `<socket>` is working for me, thanks.

[2015-01-30 02:04] #52 closed

[2015-01-31 18:08] apocarteres commented on #58
@dmarkov please find someone to review PR #61

[2015-02-03 17:06] maurezen opened #62 "mysql-distr has wrong binaries 5.6.21"
windows amd64 package mysql_config_editor says the folowing:

Copyright (c) 2012, 2014, Oracle and/or its affiliates. All rights reserved.

windows x86 package mysql_config_editor says the folowing:

Copyright (c) 2012, 2014, Oracle and/or its affiliates. All rights reserved.

This is wrong and causes problems on Windows x86 systems. Please release right packages.

[2015-02-03 17:12] maurezen commented on #57
@wabson seems like 5.6.21 mysql-distr package got confused x86 and x64, see #47 or  #62. I could make `jcabi-mysql-maven-plugin` use mysql 5.6.14, which is packaged correctly in mysql-distr. Will that be okay for you?

[2015-02-03 20:42] apocarteres opened #63 "build failed on Travis"
one of builds on Travis is failed. Looks like a bug somewhere

<pre>
out of java.lang.ProcessBuilder#start[1047] in 56ms
Tests run: 7, Failures: 0, Errors: 7, Skipped: 0, Time elapsed: 0.453 sec <<< FAILURE! - in com.jcabi.mysql.maven.plugin.InstancesTest
willCreateDatabaseEvenWithoutClear(com.jcabi.mysql.maven.plugin.InstancesTest)  Time elapsed: 0.062 sec  <<< ERROR!
java.io.IOException: Cannot

[2015-02-03 21:10] apocarteres commented on #58
@dmarkov it's impossible to go next here, since there is a bug in Travis build described in ticket #63

[2015-02-03 23:34] maurezen commented on #57
@wabson @dmarkov created a pull request here: #64

[2015-02-04 11:00] wabson commented on #57
Unfortunately it seems MySQL 5.6.14 will not work on Windows due to issue #39. I confirmed that 5.5.34 works OK on this platform.

[2015-02-04 11:58] maurezen commented on #57
@wabson @yegor256 we're blocked by #62, then.

[2015-02-04 14:34] yegor256 commented on #57
@dmarkov let's wait for #62 here

[2015-02-06 07:14] dmarkov commented on #63
I'll find a developer for the task soon...

[2015-02-06 07:15] dmarkov commented on #57
@yegor256 sure, we'll wait for #62

[2015-02-06 07:18] dmarkov commented on #63
@apocarteres many thanks for the bug report, I added 15 mins to your acc, transaction `51288004`

[2015-02-08 06:53] yegor256 commented on #58
@dmarkov we're blocked by #63

[2015-02-09 07:05] dmarkov commented on #58
@yegor256 sure, we'll wait for #63

[2015-02-09 07:07] dmarkov commented on #62
@yegor256 this is yours, pls go ahead

[2015-02-10 07:10] dmarkov commented on #62
@maurezen thanks for the report, I topped your acc for 15 mins, payment ID `51519115`

[2015-02-17 18:20] apocarteres commented on #58
@dmarkov i'm sorry, but i can't wait more for response on https://github.com/jcabi/jcabi-maven-skin/issues/63 which blocks current issue. Please re-assign this task on someone else

[2015-02-18 07:03] dmarkov commented on #58
@apocarteres all right, we'll find someone else for this task

[2015-02-23 08:41] dmarkov commented on #58
@adko-pl please proceed, it's yours

[2015-03-05 04:39] poornimadevi commented on #41
Any luck on removing perl dependency..

[2015-03-05 16:29] mfulton26 commented on #41
FYI: The link I provided earlier shows that Oracle has taken down Connector MXJ documentation as it is a discontinued product now. However, the binaries (and I presume the sources although I have not recently downloaded it) are available in the archives: http://downloads.mysql.com/archives/c-mxj/.
I mention this as Connector MXJ does a lot of the same things as this plugin except not tied to Maven

[2015-03-07 19:03] adko-pl commented on #58
@dmarkov please find another developer

[2015-03-30 21:13] krishna81m opened #67 "parameter to disable integration test"
Most integration test plugins have a parameter to control integration test runs or piggback on using existing parameters. Can you include a parameter or leverage existing parameters to disable integration tests to temporarily stop the plugin from running for dev builds please and save us some time?

Or support one of the following
-Dcobertura.skip -Dcassandra.skip=true -Dmaven.test.skip -DskipTest

[2015-03-31 04:23] yegor256 commented on #67
@krishna81m you can use `-Dmysql.skip=true`... I think it will work. please try and let me know

[2015-04-07 07:35] dmarkov opened #68 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 09:30] dmarkov opened #69 "0.9"
Please, publish a new release **0.9** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 13:06] dmarkov opened #70 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-04-16 07:54] jsebfranck opened #71 "Need support for basic usage of jcabi"
Hi,

I'm trying to use Jcabi for the first time.

I have created a simple maven project from the example I found here : http://www.yegor256.com/2014/05/21/mysql-maven-plugin.html.

My sources are here : https://github.com/jsebfranck/jcabi-proto

When I launch "mvn install", the build fails with the following output :

[code]

Seems that the mysql database is not launched before the tests and that

[2015-04-16 14:48] mike10004 commented on #71
What if you include the MySQL driver as a dependency in pom.xml?

That is, add

        <dependency>
            <groupId>mysql</groupId>
            <artifactId>mysql-connector-java</artifactId>
            <version>5.1.35</version>
            <scope>runtime</scope>
        </dependency>

in the `<dependencies>` section of `pom.xml`.

[2015-04-16 19:08] yegor256 commented on #71
@jsebfranck yes, @mike10004 is right, you should add this dependency to your pom

[2015-04-17 07:19] jsebfranck commented on #71
Still not working with the same error... it seems that my tests are executed before mysql starts... However, if I skip my tests (-DskipTests), Mysql is correctly launched. Should I do something specific to mark my tests as integration tests ?

[2015-04-22 15:55] mike10004 commented on #71
Are you sure you're getting the same error? When I build, the error is a NumberFormatException because the `mysql.port` system property is not yet set.

The surefire plugin runs tests that are named xyzTest, and the failsafe plugin runs tests named xyzIT. Your test is MysqlTest, so surefire tries to run it, but the system property defining the MySQL port is only available during failsafe's executi

[2015-04-23 09:21] jsebfranck commented on #71
Thanks you so much, it works now in my console. Next step for me will be to use your plugin directly in eclipse. It would be great if I could use it directly with Junit (Run as > junit tests) but it doesn't work for the moment.

[2015-04-23 09:21] #71 closed

[2015-05-12 07:48] dmarkov commented on #69
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-14 07:56] dmarkov commented on #69
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-18 12:37] adko-pl commented on #58
@dmarkov @yegor256 please find another developer

[2015-05-18 17:11] yegor256 commented on #58
@dmarkov put someone else here pls

[2015-05-19 08:09] dmarkov commented on #58
@adko-pl -30 points to your rating :(

[2015-05-19 08:09] dmarkov commented on #58
@adko-pl I will ask somebody else to pick this up

[2015-05-19 08:09] dmarkov commented on #58
@yegor256 30 points deducted from your rating

[2015-05-19 08:09] dmarkov commented on #58
@yegor256 someone else will help in this task, no problem at all

[2015-06-01 08:03] dmarkov commented on #70
@yegor256 Thanks all, closed

[2015-06-01 08:03] #70 closed

[2015-06-03 07:02] dmarkov commented on #58
@yamstranger the task is yours please proceed

[2015-06-04 07:26] dmarkov commented on #68
@yegor256 It is closed now

[2015-06-04 07:26] #68 closed

[2015-06-04 07:26] dmarkov commented on #69
@yegor256 I'm closing the issue...

[2015-06-04 07:26] #69 closed

[2015-06-04 14:46] akutz opened #72 "Unable to find sql-dist files - mysql_install_db, mysqld.pl"
Hi,

I'm running into an issue on a Bamboo build agent (CentOS 6.5) where after a successful build, if I don't do a complete clean of the target directory, the files in the subject are missing. It also begs the question what even is mysqld.pl as that file doesn't appear on my development system when doing local work. Here's the relevant section of the logs:

[code]

It should be noted that I had t

[2015-06-04 14:48] akutz commented on #72
FWIW, here is the output from the plug-in during a successful run:

[code]

[2015-06-09 10:40] dmarkov commented on #63
@tousifkhan could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend).

[2015-06-10 10:44] YamStranger opened #73 "Build failed on windows with lots of EOL violations"
@dmarkov Looks like we need to add .gitattributes to force EOL of the repo.

[2015-06-10 19:09] YamStranger commented on #58
@dmarkov I need more time here

[2015-06-11 07:52] dmarkov commented on #58
@yamstranger no problem, thanks for letting me know

[2015-06-15 07:39] dmarkov commented on #73
@yegor256 please dispatch this issue

[2015-06-15 07:39] dmarkov commented on #54
@yegor256 please pay attention to this issue

[2015-06-15 07:39] dmarkov commented on #55
@yegor256 please do something about this issue

[2015-06-15 07:39] dmarkov commented on #72
@yegor256 please pay attention to this issue

[2015-06-16 22:29] YamStranger commented on #73
@yegor256. It is known problem, qulice fail if default system EOF not like in linux. So we need add .attributes to repository for force setting Unix-like end of line to git repository.
AppVeyor use linux like EOF.
This repository will not build successfully if you install git, install maven, clone repo and just build.
Here is some examples of same problem at different repositories:
This is issue s

[2015-06-19 07:22] dmarkov commented on #56
@paucarre This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here; This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-06-19 13:15] paucarre commented on #56
Sure, but I am unable to build the system using:  mvn clean install -Pqulice
It can't find the artifact: org.apache.maven.enforcer:enforcer-api:pom:1.3.1
Which maven settings.xml contents are you using for the qulice profile?

[code]

[2015-06-20 12:39] paucarre commented on #56
I could not reproduce the error using Windows 8. The problem is that I get the error of the issue 39 instead (for both master and 0.9 tag): https://github.com/jcabi/jcabi-mysql-maven-plugin/issues/39
MySQL is not able to find the configuration file (my-default.cnf)
On Windows 8.1 I get this output when trying to build the project using: mvn clean install -Pqulice
[code]

Therefore I can not finali

[2015-06-22 22:47] yegor256 commented on #73
@YamStranger fixed in https://github.com/jcabi/jcabi-mysql-maven-plugin/commit/61c0a1144be268969fc6e8ea1ad366993d2e42a4

[2015-06-22 22:47] #73 closed

[2015-06-24 01:48] yegor256 commented on #55
@maurezen fixed in 594b1db thanks

[2015-06-24 01:48] #55 closed

[2015-06-24 01:49] yegor256 commented on #54
@maurezen fixed in f9ceff2 thanks

[2015-06-24 01:49] #54 closed

[2015-06-24 10:30] dmarkov commented on #49
@bertram25 please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-06-24 13:32] dmarkov commented on #63
@tousifkhan check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 to your rating, your total score is [

[2015-07-09 10:32] dmarkov commented on #49
@bertram25 the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. -30 added to your rating, at the moment it is: [+0](http://www.

[2015-07-14 11:15] dmarkov commented on #49
@bertram25 you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... added -60 to your rating, now it is equal to [-60](http://www.netbout.com/b/35317?open=rating)

[2015-08-03 07:13] dmarkov commented on #63
@ikhvostenkov this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-08-18 08:20] dmarkov commented on #63
@ikhvostenkov you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck)... -30 added to your rating, at the moment

[2015-08-24 08:18] dmarkov commented on #63
@ikhvostenkov this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 to your rating, your total score is [-210](http://www.netbout.com/b/35232?open=rating)

[2015-09-07 10:09] YamStranger commented on #58
@dmarkov i can't wait more for response on https://github.com/jcabi/jcabi-maven-skin/issues/63 please find another developer

[2015-09-07 11:37] dmarkov commented on #58
@yamstranger -30 points to your rating

[2015-09-07 11:37] dmarkov commented on #58
@yamstranger I will ask somebody else to pick this up

[2015-09-13 10:26] yegor256 commented on #67
@krishna81m any news here? please close the ticket if it works for you

[2015-09-22 10:15] dmarkov commented on #72
@yamstranger please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-24 09:57] YamStranger commented on #72
@dmarkov  I need more time here

[2015-09-24 11:37] dmarkov commented on #72
@yamstranger sure, thanks for telling me, take your time

[2015-10-02 13:33] dmarkov commented on #58
@tmjee the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-10-05 13:37] tmjee opened #78 "Failed to build jcabi-mysql-maven-plugin"
Can't build using
[code]

got lots of the following exception
[code]

[2015-10-05 13:38] tmjee commented on #58
@dmarkov  blocked by issue #78

[2015-10-07 08:19] dmarkov commented on #58
@tmjee agreed, we'll wait for #78

[2015-10-08 09:57] tmjee commented on #58
@dmarkov  Please assign to someone else. Please do not assign any more issues to me. Thanks.

[2015-10-08 13:57] dmarkov commented on #58
@tmjee I deducted 30 points from your rating

[2015-10-08 13:57] dmarkov commented on #58
@tmjee right, I'll try to find someone else for this task

[2015-10-08 14:01] dmarkov commented on #78
@yegor256 dispatch this issue please

[2016-01-08 12:38] dmarkov commented on #58
@jrdalpra it's yours, please go ahead

[2016-01-08 12:41] jrdalpra commented on #58
@dmarkov the issue #63  that was blocking @apocarteres was not solved. Must I proceed?

[2016-01-08 18:59] jrdalpra commented on #58
@dmarkov This project is not stable. How can I start working if not even the master is working at CI server as you can see here https://ci.appveyor.com/project/yegor256/jcabi-mysql-maven-plugin and here https://travis-ci.org/jcabi/jcabi-mysql-maven-plugin.

Should I open and issue to solve problems related above? Thanks.

[2016-01-11 10:21] jrdalpra commented on #58
@dmarkov can you see my comments above and give an answer? Thanks :)

[2016-01-11 12:09] dmarkov commented on #58
@jrdalpra it's up to you

[2016-01-11 12:09] dmarkov commented on #58
@jrdalpra every time you see a problem, which is not related to the task you're working on, submit a new ticket, see http://www.yegor256.com/2015/01/15/how-to-cut-corners.html

[2016-01-11 12:10] jrdalpra commented on #58
@dmarkov ok. So after I do that, should I wait or ask you to remove this issue from me?

[2016-01-11 12:18] jrdalpra commented on #58
@dmarkov this issue is referenced at #78
That's why I can't proceed.

[2016-01-11 12:20] jrdalpra commented on #78
@yegor256 the project is unstable as you can see here http://www.rultor.com/p/jcabi/jcabi-mysql-maven-plugin, here https://travis-ci.org/jcabi/jcabi-mysql-maven-plugin and here https://ci.appveyor.com/project/yegor256/jcabi-mysql-maven-plugin
And it's also blocking me to solve this issue #58

Can you solve, please?

[2016-01-11 13:13] yegor256 commented on #78
@jrdalpra hm... looking into it

[2016-01-13 07:42] dmarkov commented on #58
@jrdalpra it's up to you. you can wait for your impediments to be resolved and continue here. or you can drop this task and lose points

[2016-01-13 12:08] jrdalpra commented on #58
@dmarkov it's is not fully true.

If I give up from this task I'll lose point.

If I wait I'll loose point too, because I won't be able to solve at time to get bonuses.

If the impediments take too long to be solved, I'll loose points too because the task will be taken from me after 10 days.

I think the best approach is to pause the counters of speed and rating until the impediments are solved. T

[2016-01-14 07:32] dmarkov commented on #58
@jrdalpra just ask for more time

[2016-01-18 23:46] jrdalpra commented on #78
@yegor256 it was solved? I have a task waiting this one. Thanks.

[2016-01-25 15:25] yegor256 commented on #63
@dmarkov I confirm that this bug is still here, I can reproduce it locally, sometimes

[2016-01-26 08:30] dmarkov commented on #63
@jrdalpra please help, the task is yours

[2016-01-26 14:48] jrdalpra commented on #63
@yegor256 it always happens on Windows. You can see at appvevor build.

[2016-02-01 07:26] dmarkov commented on #57
@nikoladespotoski please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here; The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-06 18:38] jrdalpra commented on #63
@dmarkov @yegor256 The PR #80 correct this problem. Can you review, please? Thanks.

[2016-02-08 07:30] dmarkov commented on #63
@jrdalpra you're holding this task for 16 days already. -30 added to your rating, at the moment it is: [+278](http://www.netbout.com/b/36044?open=rating)

[2016-02-08 09:02] jrdalpra commented on #63
@dmarkov There's a Pr ready for review. Can you reconsider this?

On Monday, February 8, 2016, Dan Markov <notifications@github.com> wrote:

--
José Volmei Dal Prá Junior - (49) 9112 9359
Bacharel em Ciência da Computação - UnoChapecó
Pós-Graduado em Desenvolvimento de Software Com Java - Unoesc Xxe
Consultor Java e TotalCross
https://github.com/jrdalpra
http://www.kombo.com.br/meucurriculo/jrdalp

[2016-02-09 09:00] dmarkov commented on #63
@jrdalpra sure thanks

[2016-02-09 10:40] jrdalpra commented on #63
@dmarkov can you update the comment and remove my e-mail signature, please?

[2016-02-09 10:41] jrdalpra commented on #63
@dmarkov can you give my point back. :)

[2016-02-10 10:29] dmarkov commented on #63
@jrdalpra done

[2016-02-10 10:29] dmarkov commented on #63
@jrdalpra delay is a delay, no points back

[2016-02-10 23:47] jrdalpra commented on #63
@dmarkov no problem. But If I complete it I'll get point and be paid?

[2016-02-11 11:14] dmarkov commented on #63
@jrdalpra yes, sure, the task is yours now

[2016-02-11 11:40] dmarkov commented on #63
@jrdalpra the task is not yours any more, please stop... -60 to your rating, your total score is [+218](http://www.netbout.com/b/36044?open=rating)

[2016-02-11 12:00] jrdalpra commented on #63
@dmarkov I don't understand. You said that the task is mine. There´s a PR #80 waiting for review. What´s the problem? I don´t know how to proceed.

[2016-02-12 23:47] jrdalpra commented on #63
@dmarkov can you assign this to me again? I have a PR #80 waiting for review. There's no reason to assign to another developer. Thanks.

[2016-02-15 08:20] dmarkov commented on #63
@jrdalpra check this: http://at.teamed.io/policy.html#7 and this: http://at.teamed.io/policy.html#16

[2016-02-15 21:09] jrdalpra commented on #63
@dmarkov fine. I'll finish the task anyway. Thanks.

[2016-02-16 07:44] NikolaDespotoski commented on #57
@dmarkov assign someone else

[2016-02-16 09:34] dmarkov commented on #57
@nikoladespotoski I will try to find someone else

[2016-02-16 09:34] dmarkov commented on #63
@jrdalpra sure, no problem

[2016-02-16 09:36] dmarkov commented on #63
@amihaiemil please go ahead with this task, it's yours

[2016-02-17 13:03] amihaiemil commented on #63
@dmarkov cc: @yegor256  Can you assign this back to @jrdalpra ? It makes no sense to start over again if there's PR #80 waiting to be merged...

[2016-02-17 20:37] JESShEart commented on #71
I run the tests from within my IDE by doing the following:
Run this maven command to get the jcabi MySQLrunning
[code]
When running that command, It always runs the MySQL server on port 3306
In my test I get the port number like this:
[code]
So, if the system property is not set, it fall back to using 3306.
Now, as long as that MySQL server is up an running, you should be able to run your tests fr

[2016-02-19 00:40] jrdalpra commented on #63
@dmarkov @yegor256 can you merge my PR #80?

[2016-02-19 04:54] yegor256 commented on #63
@dmarkov assign to @jrdalpra please

[2016-02-19 04:55] yegor256 commented on #63
@jrdalpra keep in mind that addressing one message to multiple recipients is a bad practice. in the end, nobody will answer you because everyone will think that the other person will do it. always address your message to only one person. if that person doesn't reply, post another message to another person. but never broadcast.

[2016-02-22 00:54] h4ck3rm1k3 opened #81 "The socket file path is too long"
[INFO] [INFO] >> 160221 19:53:22 [ERROR] The socket file path is too long (> 107): /mnt/newdrive2/home/mdupont/experiments/jcabi-mysql-maven-plugin/target/it/parallel/target/mysql-data-first/mysql.sock
[INFO] [INFO] >> 160221 19:53:22 [ERROR] Aborting

[2016-02-22 11:18] dmarkov commented on #63
@yegor256 done! @jrdalpra the task is yours, please proceed

[2016-02-22 23:00] jrdalpra commented on #63
@dmarkov thanks

[2016-02-22 23:01] jrdalpra commented on #63
@yegor256 sorry. Got it.

[2016-02-22 23:11] jrdalpra commented on #63
@dmarkov the PR #80 is being reviewed already.

[2016-02-23 07:40] dmarkov commented on #63
@jrdalpra sure, no problem

[2016-02-23 07:40] dmarkov commented on #63
@jrdalpra thank you!

[2016-02-25 02:46] C-h-e-r-r-y commented on #45
It seems that I got it.

# What is the problem?
jcab plugin downloads packaged zip archive with mysql. Yep, it correct resolve version and os name, but an mysql from archive need some libraries which are not present in linux (it can depends on x64 or x32 OS version).

I am very sorry that I can not provide you *full* build log. because it was deleted, but I can share some parts from it. Consider:

[2016-02-25 04:41] C-h-e-r-r-y commented on #45
Also I have spot for MySql version `5.6.21` there is an error (as described in post above):

    [WARNING] >> sh: /opt/jenkins/workspace/integration_tests/mysql-server/bin/my_print_defaults: /lib/ld-linux.so.2: bad ELF interpreter: No such file or directory
    [WARNING] >> sh: /opt/jenkins/workspace/integration_tests/mysql-server/bin/mysqld: /lib/ld-linux.so.2: bad ELF interpreter: No such file o

[2016-02-26 05:02] C-h-e-r-r-y opened #82 "Could you please add parameter keepRunnig to plugin?"
Sometimes, when integration tests are failed it needs to keep mysql server running to see what changes were applied to database. Could you please add keepRunnig which prevent jcabi plugin to shutdown mysql server at `post-integration-test` phase?

[2016-02-26 09:10] dmarkov commented on #81
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-02-26 21:05] yegor256 commented on #81
@h4ck3rm1k3 it's a duplicate of https://github.com/jcabi/jcabi-mysql-maven-plugin/issues/50

[2016-02-26 21:05] #81 closed

[2016-02-27 13:05] jrdalpra commented on #63
@dmarkov the PR #80 was merged.

[2016-02-29 08:52] dmarkov commented on #63
@jrdalpra thanks

[2016-02-29 08:55] dmarkov commented on #82
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-29 16:59] yegor256 commented on #82
@C-h-e-r-r-y good idea, thanks. we'll try to implement it

[2016-03-01 10:38] dmarkov commented on #82
@piddubnyi it's in your hands now, please proceed

[2016-03-10 08:26] dmarkov commented on #63
@jrdalpra you're working with this issue for 16 days already. -30 added to your rating, current score is: [+218](http://www.netbout.com/b/36044?open=rating)

[2016-03-10 15:28] jrdalpra commented on #63
@dmarkov I finished the task and I also had warned you about it. Why do I lost points if I completed the task?

[2016-03-14 08:26] dmarkov commented on #63
@jrdalpra the ticket is still open. why do you think that you completed the task?

[2016-03-14 08:31] dmarkov commented on #63
@jrdalpra you were holding this task for too long, it's not yours any more, please stop. -60 added to your rating, at the moment it is: [+158](http://www.netbout.com/b/36044?open=rating)

[2016-03-14 13:52] jrdalpra commented on #63
@apocarteres please close the ticket. thanks.

[2016-03-14 13:53] jrdalpra commented on #63
@dmarkov sometimes you need to be more flexible. The task was done, but only the ticket at github needed to be closed. Just a little flexibility would be good. Thanks.

[2016-03-15 16:20] apocarteres commented on #63
can't check it now. closing it since it's probably not relevant anymore. Please raise a new issue if still doesn't work.

[2016-03-15 16:20] #63 closed

[2016-03-16 08:27] dmarkov commented on #58
@yegor256 impediment in issue #63 is closed, we can probably try to continue here

[2016-03-16 10:47] dmarkov commented on #82
@piddubnyi check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. -30 added to your rating, current score is:

[2016-03-18 14:17] jrdalpra commented on #58
@dmarkov give this task to someone else. I'm on vacation and can't do it. Thanks.

[2016-03-21 08:48] dmarkov commented on #58
@jrdalpra deducted 30 from your rating :(

[2016-03-21 08:48] dmarkov commented on #58
@jrdalpra OK, I will try to assign someone else

[2016-03-21 13:11] dmarkov commented on #82
@piddubnyi it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. -60 added to your rating, at the moment it is: [-240](http://www.netbout.com/b/35966?open=rating)

[2016-06-13 15:07] dagguh commented on #41
Maven projects should work out of the box. Removing a setup requirement would be awesome.

[2016-07-05 22:31] dalvizu commented on #45
Seeing this error - I believe that the incorrect binary is being packaged. `classify` sets my version correctly to linux-amd64:

[code]

However I get this error trying to run:
[code]

The file does exist though:
[code]

It is a 32-bit file though!!

[code]

It looks like this is what was uploaded:

[code]

Previous version is fine:
[code]

[2016-08-08 12:31] nikolay-dmx opened #83 "How to use default configuration for use root"
Hi,
default user is root and default password is empty but I am not able to use any user with empty password. Can I do or set something ?

[2016-08-12 07:09] dmarkov commented on #83
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-08-18 16:54] yegor256 commented on #83
@nikolay-dmx what are you doing now? can you show your code/config? we have to reproduce the problem

[2016-08-18 17:02] nikolay-dmx commented on #83
Hi Yegor,

thanks for your response. Regarding my question, I asked is it possible
MySql user not to be [user:root ,  pass:root] but some other, for example
as default one :[user:root pass:"EMPTY"] . Anyway I solve that, I just made
different comfigurations for Integration tests and other tests.

Best Regards
Nikolay

On Thu, Aug 18, 2016 at 7:54 PM, Yegor Bugayenko <notifications@github.com>
wrot

[2016-10-26 12:55] dfa1 commented on #45
got same problem, 2 years later: the mysql-dist-5.6.21-linux-amd64.zip has 32bit binaries.

[2016-10-26 13:08] dfa1 commented on #45
It would be nice to also upgrade to the latest stable version of mysql 5.6.x. Needless to say I can help testing it.

[2016-11-18 05:08] shrutiujjwal commented on #43
Is there any plans to support the latest version of MySQL? like: 5.7.16 -- need this urgently for an In Memory support of JSON with MySQL. Any help/inputs will be appreciated. TIA.

[2016-11-18 05:09] shrutiujjwal commented on #47
Is there any plans to support the latest version of MySQL? like: 5.7.16 -- need this urgently for an In Memory support of JSON with MySQL. Any help/inputs will be appreciated. TIA.

[2016-11-18 20:58] shrutiujjwal opened #84 "Need MySQL 5.7.16 package for JCABI"
Need MySQL 5.7.16 package for JCABI. Running into many issues while generating it. Will appreciate if you could provide the same. Thanks

[2016-11-22 10:05] shrutiujjwal commented on #84
We did some more investigation of MySQL 5.7.14/16 on Windows & Box and below are our findings:

1). In the etc\hosts file I have the entry:

3.204.166.180	[the hostname of my machine]
//127.0.0.1 localhost -- commented
//::1 localhost -- commented

2). Then when I run the 'maven install' command at the target --> --- jcabi-mysql-maven-plugin:1.0r2:start (mysql-test) @ InMemDb ---

At the line it t

[2016-11-23 08:41] shrutiujjwal opened #85 "Use of mysql-install-db.pl is deprecated as of 5.7.6"
The use of mysql-install-db.pl is deprecated as of 5.7.6. This code base will be have to be refactored to address the needs & make it compatible with 5.7.x MySQL.

Refer article: http://dev.mysql.com/doc/refman/5.7/en/data-directory-initialization-mysql-install-db.html

**Steps to do it manually, that will need to be converted to Java Code:**

1. Say we have a MySQL distribution extracted as folde

[2016-11-25 12:51] dmarkov commented on #84
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-11-25 13:28] Ivorlun commented on #39
Two years have passed and probem still remains on Windows 10 x64.

[2016-11-25 15:16] Ivorlun commented on #83
Problem still exists on Windows 10 x64.
No matter what was written in pom-file - perl script will use only default config values as root:root at mysqladmin stage
##### CMD-output

[code]

##### POM-file

[code]

[2016-11-28 08:10] dmarkov commented on #85
@yegor256 please dispatch this issue

[2016-11-29 06:33] yegor256 commented on #84
@shrutiujjwal thanks for reporting it

[2016-11-29 07:40] dmarkov commented on #84
@amihaiemil it's yours, please help

[2016-11-29 07:51] amihaiemil commented on #84
@shrutiujjwal Is this still urgent? Unfortunately, I don't have time to take care of it this week, only next one (I'm on the road all week). Should I let it to someone else?

Many thanks and sorry for the inconvenience!

[2016-11-29 08:09] shrutiujjwal commented on #84
For now since we wanted to quickly unblock our test team, we have handled the MySQL 5.7.x installation procedure in our codebase. Pls do give the fix at your earliest convenience, so that we can move on to that. Steps that we coded for:

1. The Maven POM will download the MySQL Jar into your .m2 repository first time. [We have POM taking care of that]
2. The Maven POM will unpack that MySQL Jar in

[2016-11-29 08:14] amihaiemil commented on #84
@shrutiujjwal I see. Please don't turn off notifications from this issue, as I might be asking some questions later when I take on this. Also, in the end, you should be the one to close this ticket (that's part of our work model).

Many thanks again,
Mihai

[2016-12-05 08:48] amihaiemil commented on #84
@dmarkov need more time pls. Will take it up this week.

[2016-12-05 11:31] dmarkov commented on #84
@amihaiemil sure, thanks for telling me, take your time

[2016-12-15 12:35] amihaiemil commented on #84
@dmarkov Assign someone else pls - no more time :(

[2016-12-16 03:09] shrutiujjwal commented on #84
Any updates on this issue resolution?

[2016-12-16 07:56] amihaiemil commented on #84
@shrutiujjwal I caught some time to look more into it now, and as I understand you need a ZIP archive with ``mysql 5.7.16`` to pass to the plugin, like it is outlined on [this](http://mysql.jcabi.com/usage.html) page.

However, I'm not sure how to create and publish such an archive and what exactly it needs to contain from the mysql download page (I didn't work on this project before)

Maybe @yego

[2016-12-17 03:19] shrutiujjwal commented on #84
yegor256: Your inputs be helpful? Any timelines we are looking at providing this support?

[2016-12-21 08:49] dmarkov commented on #84
@amihaiemil 30 points deducted from your rating

[2016-12-21 08:49] dmarkov commented on #84
@amihaiemil OK, I will try to assign someone else

[2016-12-22 09:37] dmarkov commented on #58
@yegor256 Thanks, closed

[2016-12-22 09:37] #58 closed

[2017-05-11 05:03] MHL3060 opened #86 "Is it possible to execute a SQL file once the mysql started?"
First of all, Thanks for the great maven-plugin. I have one question. is it possible to execute a SQL file once the mysql started? the reason is I need to integrate with the liquibase-maven-plugin. our liquibase changelog doesn't include the create database/schema procedure. It would be nice if this plugin can support this. Thanks.

[2017-05-11 05:03] 0crat commented on #86
@yegor256 please, pay attention to this issue

[2017-05-11 05:14] MHL3060 commented on #86
Never mind. It is already supported by using the dbname tag

[2017-05-11 05:14] #86 closed

[2017-05-11 05:14] 0crat commented on #86
Oops! Job `gh:jcabi/jcabi-mysql-maven-plugin#86` was not in scope

[2017-05-11 12:12] 0pdd opened #87 "InstancesTest.java:186-189: Create integration tests for Config...."
The puzzle `8-aea18ffe` in [`src/test/java/com/jcabi/mysql/maven/plugin/InstancesTest.java`](https://github.com/jcabi/jcabi-mysql-maven-plugin/blob/master/src/test/java/com/jcabi/mysql/maven/plugin/InstancesTest.java) (lines 186-189) has to be resolved: Create integration tests for Config. Integration tests 'WithConfigITCase' should be created to test that user name, password and dbname are set pr

[2017-05-11 12:12] 0crat commented on #87
@yegor256 please, pay attention to this issue

[2017-05-11 16:26] MHL3060 opened #88 "NoClassDefFoundError"
Hi I am seeing this when the build finished.

mvn -version

[code]

[code]

[2017-05-11 16:27] 0crat commented on #88
@yegor256 please, pay attention to this issue

[2017-05-12 07:43] yegor256 commented on #82
@C-h-e-r-r-y you should use `run` goal: http://mysql.jcabi.com/run-mojo.html

[2017-05-12 07:48] yegor256 commented on #88
@MHL3060 doesn't seem to be a big problem, but thanks for reporting it. We should probably get rid of the AOP entirely, in this plugin. Will do it soon.

[2018-02-23 06:32] 0pdd commented on #87
@0pdd all puzzles are solved

[2018-02-23 06:45] 0pdd commented on #87
@0pdd all puzzles are solved

[2018-03-05 08:25] QubitPi opened #90 "Need MySQL 5.7.20 package for JCABI"
We successfully tested our downstream project against a manually installed MySQL at 5.7.20, but failed with jcabi whose MySQL version is at 5.6.14.

It would be fantastic if 5.7.20 could be provided in jcabi.

Thanks!

[2018-03-05 08:25] 0crat commented on #90
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-05 09:56] pipost opened #91 "The simple example doesn't work with Windows 10 - jre 1.8 - maven 3"
Got the following error when running mvn jcabi-mysql:run, with the configuration given as example at http://mysql.jcabi.com/usage.html :
1/ even with dependencies http://aspects.jcabi.com/jsr-303.html added :
INFO: HV000001: Hibernate Validator 5.1.2.Final
[ERROR] JSR-303 validator failed to initialize: Unable to instantiate Configuration. (see http://aspects.jcabi.com/jsr-303.html)
2/
[INFO] crea

[2018-04-05 09:56] 0crat commented on #91
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-05 09:56] 0crat commented on #91
@pipost[/z](https://www.0crat.com/u/pipost) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-14 18:44] yegor256 commented on #85
@shrutiujjwal would you be interested to contribute with a pull request?

[2020-01-16 20:44] shrimalmadhur commented on #84
Hello, Did this ever happen? If not can someone suggest any alternative to test using mysql 5.7? @dmarkov

[2020-01-17 08:05] amihaiemil commented on #84
@shrimalmadhur There is no one maintaining the project at the moment, unfortunately. However, if you have the time and want to submit a Pull Request with the solution, we'll be grateful!

Don't talk to dmarkov, he is a chatbot so he won't reply to you :)

[2020-01-17 17:55] shrimalmadhur commented on #84
Thanks @amihaiemil for update. I didn't realize he is a chatbot. I will try if I can when I have some free cycles. Thanks.

[2022-09-22 13:29] renovate opened #114 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/jcabi/jcabi-mysql-maven-plugin).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.